<% @products.each do |product| %>
  <tr>
  	<td><%= product.id %></td>
    <td><%= product.name %></td>
    <td><%= number_to_currency product.price %></td>
    <td><%= product.created_at %></td>
    <td><%= product.updated_at%></td>
    <td><%= link_to "Edit", edit_product_path(product), remote: true, class: "btn btn-success" %></td>
    <td><%= link_to "Delete", product_delete_path(product), remote: true, class: "btn btn-danger" %></td>

  </tr>
<% end %>